form .image_card {
    width: 175px;
    height: 185px;
    object-fit: cover;
    margin-left: 107px;
    margin-bottom: 25px;
    border-radius: 7%;
    overflow: hidden;
}

.navbar .image_card {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
    overflow: hidden;
    margin-left: 5px;
}
.card-header .image_card {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 100%;
    overflow: hidden;
    margin-left: 5px;
}

#upload_image_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 350px;
    margin-bottom: 35px;
    margin-left: 35px;
}
#imagePreview {
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#titleCard{
    margin-top: 7px;
    margin-bottom: -6px;
    margin-left: 4px;
    font-weight: bold;
    font-size: large;
}

#bottomCard {
    margin-left: 4px;
    margin-bottom: 7px;
    font-weight: normal;
    font-size: medium;
}
.likes img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
.comments-count {
    font-size: small;
    font-weight: lighter;
    color: gray;
    margin-bottom: -20px;
    margin-right: 34px;

}
.likes-count {
    font-size: small;
    font-weight: lighter;
    color: gray;
    margin-bottom: -20px;
    margin-right: 22px;

}
.likes-comments-container{
    margin-bottom: -7px;
}
.animated-link:hover {
    color: black;
    transition: color 0.5s ease-in-out;
}
.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
