form .image_card {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-left: 98px;
    margin-bottom: 25px;
    border-radius: 100%;
    border: 2px solid gray;
    overflow: hidden;
}

.navbar .image_card {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
    overflow: hidden;
    margin-left: 5px;
    border: 1px solid gray;

}
.card-header .image_card {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 100%;
    overflow: hidden;
    margin-left: 5px;
    border: 1px solid gray;

}
.profile-header .image_card {
    width: 294px;
    height: 294px;
    object-fit: cover;
    border-radius: 100%;
    overflow: hidden;
    margin-left: -16px;
    border: 2px solid gray;
}
#upload_image_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 350px;
    margin-bottom: 35px;
    margin-left: 35px;
}
#imagePreview {
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#titleCard{
    margin-top: 7px;
    margin-bottom: -6px;
    margin-left: 4px;
    font-weight: bold;
    font-size: large;
}

#bottomCard {
    margin-left: 4px;
    margin-bottom: 7px;
    font-weight: normal;
    font-size: medium;
}
.likes img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
.profile-like .likes img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    margin-left: -15px;
}
.comments-count {
    font-size: small;
    font-weight: lighter;
    color: gray;
    margin-bottom: -20px;
    margin-right: 34px;

}
.likes-count {
    font-size: small;
    font-weight: lighter;
    color: gray;
    margin-bottom: -20px;
    margin-right: 22px;

}
.likes-comments-container{

    margin-bottom: -7px;
}

#gradient-text {
    text-decoration: none;
    color: lightslategray;
    transition: color 0.25s ease-in-out, font-size 0.25s ease-in-out;
}
#gradient-text:hover {
    background: linear-gradient(to right, hotpink, lightskyblue);
    -webkit-background-clip: text;
    color: transparent;
    font-size: x-large;
}

#gradient-title {
    background: linear-gradient(to left, hotpink, cornflowerblue);
    -webkit-background-clip: text;
    color: transparent;
    font-size: x-large;
}

.animated-link {
    text-decoration: none;
    color: lightslategray;
    transition: color 0.25s ease-in-out, font-size 0.25s ease-in-out;
}
.animated-link:hover {
    background: linear-gradient(to left, hotpink, cornflowerblue);
    -webkit-background-clip: text;
    color: transparent;
    font-size: larger;
}

.animated-link-logout {
    text-decoration: none;
    color: lightslategray;
    transition: color 0.25s ease-in-out, font-size 0.25s ease-in-out;
}
.animated-link-logout:hover {
    background: linear-gradient(to left, coral, darkred);
    -webkit-background-clip: text;
    color: transparent;
    font-size: larger;
}

.app-title .animated-link {
    text-decoration: none;
    color: dimgray;
    transition: color 0.25s ease-in-out, font-size 0.25s ease-in-out;
}

.app-title .animated-link:hover {
    background: linear-gradient(to left, deeppink, blue);
    -webkit-background-clip: text;
    color: transparent;
    font-size: large;
}

.animated-link-profile {
    text-decoration: none;
    color: lightslategray;
    transition: color 0.25s ease-in-out, font-size 0.25s ease-in-out;
}

.animated-link-profile:hover {
    background: linear-gradient(to right, hotpink, lightskyblue);
    -webkit-background-clip: text;
    color: transparent;
}
.names .animated-link-profile {
    text-decoration: none;
    color: black;
    transition: color 0.25s ease-in-out, font-size 0.25s ease-in-out;
}

.names .animated-link-profile:hover {
    background: linear-gradient(to right, forestgreen, dodgerblue);
    -webkit-background-clip: text;
    color: transparent;
}

.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.animated-comment-box {
    transform: translateY(100%);
}

.comment-body .comment-row {
    align-items: start;
    padding-left: 5px;
}

.comment-body .comment-profile-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
    padding-left: -10px;
}
#comment-text {
    overflow-wrap: break-word;
    word-break: break-word;
}
#comment-container p {
    overflow-wrap: break-word;
    word-break: break-word;
}


.trash-icon {
    position: relative;
    width: 32px;
    height: 32px;
}
.trash-icon img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
    margin-left: -25px;
}
.trash-icon img:first-child {
    z-index: 1;
}

.trash-icon img:last-child {
    opacity: 0;
}

.trash-icon:hover img:first-child {
    opacity: 0;
}

.trash-icon:hover img:last-child {
    opacity: 1;
}

.detail-delete .trash-icon {
    position: relative;
    width: 32px;
    height: 32px;
}
.detail-delete .trash-icon img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
    margin-left: -48px;
}
.detail-delete .trash-icon img:first-child {
    z-index: 1;
}

.detail-delete .trash-icon img:last-child {
    opacity: 0;
}

.detail-delete .trash-icon:hover img:first-child {
    opacity: 0;
}

.detail-delete .trash-icon:hover img:last-child {
    opacity: 1;
}


.like-icon {
    position: relative;
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
.like-icon img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
}
.like-icon img:first-child {
    z-index: 1;
}

.like-icon img:last-child {
    opacity: 0;
}

.like-icon:hover img:first-child {
    opacity: 0;
}

.like-icon:hover img:last-child {
    opacity: 1;
}
.like-icon {
    position: relative;
    width: 32px;
    height: 32px;
}
.comment-icon img {
    position: absolute;
    width: 32px;
    height: 32px;
    transition: opacity 0.3s ease-in-out;
    margin-right: 64px;
}
.comment-icon img:first-child {
    z-index: 1;
}

.comment-icon img:last-child {
    opacity: 0;
}

.comment-icon:hover img:first-child {
    opacity: 0;
}

.comment-icon:hover img:last-child {
    opacity: 1;
}

body {
    background-image: url("/public/shared/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
